@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@1,400&display=swap');

body {
  position: relative;
  margin: 0;
  background: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: -400px;
  left: 50%;
  width: 3000px;
  height: 900px;
  transform: translateX(-50%);

  background: linear-gradient(
    0deg,
    rgb(207,255,13) 10%,
    rgb(67,130,1) 25%,
    rgb(0,0,0) 55%,
    transparent 100%
  );

  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  filter: blur(80px);
  z-index: -3;

}

.topbar {
    width: 100%;
    height: 70px;
    padding: 0 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: auto;
}

.logo img {
    height: 70px;
    width: auto;
    margin-top: 23px;
    user-select: none;
}

.top-actions {
    display: flex;
    align-items: center;
    gap: 16px;
    white-space: nowrap;
    font-weight: bold;
}

.top-actions span {
    margin-top: 23px;
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    transition: transform 0.2s ease;
    user-select: none;
}

#historico {
    position: relative;
    display: inline-block;  
    margin-top: 23px;
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    transition: transform 0.2s ease;
    overflow: hidden;
    cursor: pointer;
}

#historico::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: transform 0.3s ease;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;   
}

#historico:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.top-actions a {
    color: #000000;
    background: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.2s ease; 
    margin-top: 23px;
}

.top-actions a:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    color:#ffffff;
    background: #a2ff00;

    cursor: pointer;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -50px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0.4;
    margin-bottom: 5px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    gap: 10px;
}


.center-content h2 {
    margin-top: -20px;
    max-width: 700px;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    user-select: none;
    text-align: center;
}

.start-button button {
    padding: 14px 22px;
    background: #a2ff00;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.123);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 10px;
}

.start-button button:hover {
    transform: translateY(-7px);
    background: #000000;
}

#first-title, #second-title {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: -2.5px;
    font-size: 60px;
    transition: all 0.5s ease;
    user-select: none;
    margin-top: -2px;
}

#first-title:hover, #second-title:hover, #third-title:hover {
        transform: translateY(-12px);
}

#third-title {
    color: #ffffff;
    font-family: 'Libre Baskerville ', serif;
    font-style: italic;
    letter-spacing: -2.5px;
    font-weight: 400;
    font-size: 60px;
    user-select: none;
    transition: all 0.5s ease;
    margin-top: -2px;
}
@media (max-width: 600px) {

    .topbar {
        height: 60px;
        padding: 0 5%;
    }

    .logo img {
        height: 40px;
    }

    .top-actions a {
        padding: 6px 12px;
        font-size: 13px;
    }

    #principal-title {
        font-size: 28px;
    }
}
