{% load static %} <!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Conteúdos - VestIF</title>
  
  <link rel="icon" type="image/x-icon" href="/logo.webp" />

  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Montserrat:wght@300;600&display=swap" rel="stylesheet" />
  
  <link href="{% static 'contas/css/content-page-style.css' %}" rel="stylesheet">
</head>

<body>
  <div class="pagina-conteudos">
    <h1 class="titulo-principal">Conteúdos</h1>
    <p class="subtitulo">Bem-vindo à página de conteúdos!</p>

    <div class="container-retangulos">
      
      <div class="retangulo portugues">
        <h2>Língua Portuguesa</h2>
        <p><strong>2020 a 2025:</strong> Interpretação Textual, Análise Sintática, Coesão, Morfossintaxe...</p>
      </div>

      <div class="retangulo lingua2">
        <h2>Segunda Língua</h2>
        <p><strong>2020 a 2025:</strong> Interpretação Textual, Vocabulário, Tradução.</p>
      </div>

      <div class="retangulo matematica">
        <h2>Matemática</h2>
        <p><strong>2020-2025:</strong> Funções, Geometria Analítica, Polinômios, Probabilidade...</p>
      </div>

      <div class="retangulo biologia">
        <h2>Biologia</h2>
        <p><strong>2020-2025:</strong> Ecologia, Genética, Citologia, Fisiologia...</p>
      </div>

      <div class="retangulo humanas">
        <h2>Ciências Humanas</h2>
        <p><strong>2020-2025:</strong> Geopolítica, História do Brasil, Geografia Física...</p>
      </div>

      <div class="retangulo fisica">
        <h2>Física</h2>
        <p><strong>2020-2025:</strong> Mecânica, Óptica, Eletromagnetismo, Termologia...</p>
      </div>

      <div class="retangulo quimica">
        <h2>Química</h2>
        <p><strong>2020-2025:</strong> Química Orgânica, Soluções, Estequiometria...</p>
      </div>

      <div class="retangulo resumo">
        <h2>🏆 Top Conteúdos (Resumão)</h2>
        <p>O que mais cai em todas as matérias resumido aqui.</p>
      </div>

    </div>

    <div style="text-align: center; margin-top: 30px;">
        <a href="/" class="btn-voltar">Voltar</a>
    </div>

  </div>
</body>
</html>